/* Header */
body {
    box-sizing: border-box;
    font-family: "Open Sans", "sans-serif" !important;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
}

.content {
    width: 67%;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #333;
}
p{
    margin-bottom: 0 !important;
}
a:hover {
    color: #25aae2 !important;
}

/* common */
body {
    box-sizing: border-box;
    font-family: "Open Sans", "sans-serif";
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
}

#head {
    transition: 0.5s;
}

.fa-bars {
    display: none;
}
.close {
    transform: translateY(-65%);
    position: sticky;
    top: 0px;
    z-index: 1000;
}

.close_mobile {
    transform: translateY(-65%);
    position: sticky;
    top: 50px;
    z-index: 1000;
}

.header {
    background-color: #fff;
    padding-top: 5px;
    border-top: 3px solid #ffc12f;
}

.logo {
    margin-right: 180px;
}

.header .content {
    display: flex;
    align-items: center;
}

.search-container {
    position: relative;
    max-width: 340px;
    width: 100%;
    /* margin-left: auto; */
    margin: 0 0 0 45px;
}

.search-container form {
    position: relative;
}

.input-text {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ddd;
    text-indent: 10px;
    outline: none;
    padding: 17px 0 17px 25px;
    background: transparent;
}

.search-container button {
    position: absolute;
    top: 17px;
    right: -23px;
    border: 0;
    background: 0;
    transition: 0.3s;
    outline: none;
    color: #999;
    cursor: pointer;
}

.text_header {
    display: flex;
}

.text-item {
    display: flex;
    align-items: center;
    position: relative;
}

.text-item:first-child {
    margin-right: 105px;
}

.text-item .item {
    display: flex;
    flex-direction: column;
    margin-left: 27px;
}

.text-item .item .title {
    font-size: 15px;
    color: #333;
    font-weight: lighter;
    margin-bottom: 10px;
}

.text-item .item .info {
    font-weight: 550;
    font-size: 18px;
    color: #ffb300;
    line-height: 1;
}

.text_header .text-item:first-child:after {
    content: "";
    width: 1px;
    background: #ddd;
    height: 45px;
    position: absolute;
    top: 0;
    right: -55px;
}

/* NAVIGATION */

.navigation {
    background-color: #004e9a;
}
.navigation .content > ul {
    display: flex;
    align-items: center;
}

.navigation .content > ul > li > a {
    font-weight: bold;
    display: inline-block;
    font-size: 15px;
    padding: 20px 19px;
    color: #fff;
    text-decoration: none;
}

.navigation .content li a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.navigation .content ul li:nth-child(4) {
    position: relative;
}

.navigation .content ul li:nth-child(4):hover .sub-menu {
    visibility: visible;
    opacity: 1;
    display: block;
}

.navigation .content .sub-menu {
    width: 260px;
    background: #fff;
    position: absolute;
    top: 70px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    border-radius: 5px;
    border: 1px solid #eee;
}

.navigation .content .sub-menu::before {
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 100%;
}

.navigation .content .sub-menu a {
    display: block;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 25px 4px 25px;
    color: #616161;
}

.navigation .content .sub-menu a:hover {
    color: #000 !important;
    background: #e1e1e1;
}
.header .content {
    width: 90%;
}

/* form login */
.form-login {
    border: 1px solid white;
    background-color: white;
    position: fixed;
    z-index: 5000;
    left: 35%;
    top: 20%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}
.form-login .close-form{
    position: absolute;
    right: 5px;
    top: 2px;
}
.form-login .back-to-login{
    position: absolute;
    left: 5px;
    top: 2px;
}
.form-login h3{
    font-family: var(--font-name-bold);
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #ea7c69;
}
.form-login form input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    font-family: var(--font-name);
    text-align: center;
    margin-bottom: 5px;
}
.form-login form .warning {
    margin-bottom: 10px;
    visibility: hidden;
}

.form-login form .warning img{
    width: 15px;
}
.form-login form button {
    margin-top: 20px;
    background-color: #ea7c69;
    width: 100%;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    border-color: #ea7c69;
    font-family: var(--font-name-bold);
    margin-bottom: 20px;
}
.form-login form .warning span{
    font-family: var(--font-name-bold);
    color: red;
}
.form-login form .register{
    text-align: right;
    margin-bottom: 10px;
}
.form-login form .register a{
    color: #ea7c69;
    font-family: var(--font-name-bold);
}
.form-login form .register span{
    font-family: var(--font-name)
}

.login {
    display: flex;
    margin-left: 116px;
}

.disable{
    opacity: 0.5; /* Độ mờ có thể điều chỉnh */
    pointer-events: none;
}

.nav_mobile > ul > li:nth-child(1) > a {
    position: relative;
}

.nav_mobile > ul > li:nth-child(1) > a > i {
    position: absolute;
    top: 8px;
    right: 98px;
}

.fa-right-to-bracket {
    font-size: 32px;
}

.overley {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 1000;
    animation: fadeIn linear 0.2s;
}

.nav_mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #f5f5f5;
    width: 40%;
    z-index: 1001;
    transform: translateX(100%);
    transition: transform linear 0.3s;
}
.nav_mobile ul {
    text-align: right;
    margin-top: 45px;
}
.nav_mobile > ul > li {
    padding-left: 25px;
    border-bottom: solid 1px #e7e7e7;
    display: block;
    padding: 5px 0;
}

.nav_mobile .sub-menu {
    margin-top: 0;
    display: none;
}

.nav_mobile .sub-menu > li {
    border-top: solid 1px #e7e7e7;
    display: block;
}

.nav_mobile .sub-menu > li > a {
    font-weight: 500;
    color: #545353;
}

.nav_mobile > ul > li:nth-child(5) {
    position: relative;
}

.nav_mobile > ul > li a {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding: 13px 5px;
    margin-left: 20px;
    margin-right: 23px;
    display: block;
}

.nav_mobile .fa-house {
    font-size: 25px;
}

.plus {
    display: inline-block;
    cursor: pointer;
    font-size: 22px;
    padding: 6px;
    position: absolute;
    top: 8px;
    left: 0px;
}

.minus {
    cursor: pointer;
    font-size: 22px;
    display: none;
    padding: 6px;
    position: absolute;
    top: 5px;
    left: 3px;
}

.close-icon {
    top: 9px;
    left: 10px;
    position: absolute;
}

.close-icon > i {
    font-size: 38px;
    color: red;
}

.nav_input:checked ~ .nav_mobile {
    transform: translateX(0%);
}

.nav_input:checked ~ .nav_mobile {
    display: block;
}

.nav_input:checked ~ .overley {
    display: block;
}

.nav-input-submenu:checked ~ .plus {
    display: none;
}

.nav-input-submenu:checked ~ .minus {
    display: inline-block;
}

.nav-input-submenu:checked ~ .sub-menu {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Responsive */
/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    .login{
        display: none !important;
    }
    .nav_mobile {
        width: 70%;
    }
    .content {
        width: 98%;
    }
    .right-menu{
        display: none;
    }
    .fa-bars {
        display: block;
        margin-left: 35px;
    }

    .header .content .logo {
        margin-right: 10px;
    }
    .text_header {
        display: none;
    }

    .text-item {
        display: none;
    }

    .navigation .content > ul {
        display: none;
    }

    .navigation .content > ul li a .fa-house {
        font-size: 20px;
    }

    .center-footer .content {
        width: 96%;
        margin: 20px;
        flex-direction: column;
    }

    .center-footer .content .contact {
        width: 100%;
    }

    .center-footer .content .access {
        width: 100%;
    }

    .center-footer .content .fanpage-h {
        margin-left: 0;
        width: 100%;
    }
    .fanpage-h .fanpage img {
        width: 50%;
    }

    .head-footer .content i:first-child {
        left: 5px;
    }

    .head-footer .content i:last-child {
        right: 5px;
    }

    .head-footer {
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .img-wrap {
        gap: 30px;
        overflow: hidden;
    }

    .img-wrap img {
        width: 120px;
    }

    .end-footer .content {
        display: block;
    }

    .end-footer .content p {
        text-align: center;
    }

    .end-footer .content .online {
        justify-content: center;
    }
}

/* Tablet: width >= 740px  width < 1024px*/
@media only screen and (min-width: 46.25em) and (max-width: 64em) {
    .login {
        display: none !important;
    }
    .content {
        width: 98%;
    }
    
    .fa-bars {
        display: block;
        margin-left: 35px;
    }

    .header .content {
        justify-content: space-between;
    }

    .text_header {
        display: none;
    }

    .text-item {
        display: none;
    }

    .navigation .content > ul {
        display: none;
    }

    .center-footer .content {
        width: 96%;
        margin: 20px;
        flex-direction: column;
    }

    .center-footer .content .contact {
        width: 100%;
    }

    .center-footer .content .access {
        width: 100%;
    }

    .center-footer .content .fanpage-h {
        margin-left: 0;
        width: 100%;
    }
    .fanpage-h .fanpage img {
        width: 50% !important;
    }

    .head-footer .content i:first-child {
        left: 5px;
    }

    .head-footer .content i:last-child {
        right: 5px;
    }

    .head-footer {
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .img-wrap {
        gap: 0;
        overflow: hidden;
    }

    .img-wrap img {
        width: 152px;
    }

    .end-footer .content {
        display: block;
    }

    .end-footer .content p {
        text-align: center;
    }

    .end-footer .content .online {
        justify-content: center;
    }
}


/* CSS Section */
.nav-body{
    height: auto;
    width: 100%;
    box-shadow:0 0 15px 0 #ccc;
    padding: 10px 0px;
}
.nav{
    width: 80% !important;
    margin: auto;
    position: relative;
}
.nav img{
    width: 20px;
    padding-right: 10px;
}
.nav ol{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: 3%;
}
.nav li{
    padding-right: 10px;
}
.nav a:hover{
    color: rgb(1, 147, 237);
}
.nav a{
    text-decoration: none;
    color: black;
}
.nav li:first-child{
    padding-right: 0px;
}
.nav li:last-child::before{
    content: ">";
    font-size: 18px;
    margin-right: 10px;
    color: black;
}
.container{
    display: flex;
    width: 75%;
    margin: auto;
    padding-top: 45px;
}
.main-content-title{
    border-bottom: 2px rgba(184, 184, 184, 0.279) solid;
}
.main-content-title h1{
    font-size: 24px;
    color: #004e9a;
    font-weight: bold;
    padding-bottom: 25px;
}
#solid:before{
    content: "";
    width: 215px;
    height: 2px;
    margin-top: 53px;
    background: #ffb300;
    position: absolute;
    bottom: 2;
    left: 20;
    z-index: 2;
}
.main-content{
    width: 78%;
    height: auto;
    margin-right: 10px;
}
.main-content-text{
    padding-bottom: 50px;
    margin-top: 5px;   
}
.content-text{
    display: flex;
    padding: 20px 0;
    overflow: hidden;
    border-bottom: 1px #ddd solid;
}
.content-text .text-img img{
    width: 270px;
    height: auto;
    padding-right: 20px;
}
.time_view{
    display: flex;
    color: #999;
    text-wrap: wrap;
    padding-bottom: 15px;
}
.time_view .time_post{
    padding-right: 15px;
}
.fas{
    font-size: 14px;
}
.text-title{
    padding-bottom: 15px;
}
.text-main{
    display: block;
    margin-right: 10px;
}
.text-main a{
    font-size: 18px;
    font-weight: bold;
}
.text-p p{
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    visibility: visible;
    font-size: 16px;
    line-height: 1.3;
}
.modal-body p{
    overflow: none;
    font-size: 17px;
}
.modal-title {
    font-weight: bold;
    font-size: 20px;
}
.modal-footer a{
    color: white;
}
/* CSS Main Side Bar */
.content-right{
    width: 22%;
}
.right-menu {
    background-color: #004e9a;
    border-radius: 10px;
}

.right-menu .row {
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.right-menu .row i {
    margin-left: 22px;
}

.right-menu .row:nth-child(2) {
    border-top: 1px dotted rgba(255, 255, 255, 0.3);
    border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
}

.right-menu .row a {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.4;
    display: block;
    color: #fff;
    padding: 14px 15px 14px 0;
    margin-left: 22px;
}

.right-menu .row a:hover {
    color: #25aae2 !important;
}

/* TIPS */
.form{
    margin-top: 22px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #616161;
}

.form:last-child {
    margin-bottom: 22px;
}

.form > h2 {
    border-radius: 10px 10px 0 0;
    background: #004e9a;
    color: #fff;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
}

.form .desc {
    background: #fbfbfb;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.row-blog {
    display: flex;
    margin-bottom: 16px;
}

.row-blog a {
    text-decoration: none;
}

.row-blog > a > img {
    width: 90px;
    height: 60px;
}

.row-blog > a:nth-child(2) {
    color: #333;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    margin-left: 15px;
    width: 125px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.row-blog > a:nth-child(2):hover {
    color: #25aae2 !important;
}

/* CALENDAR */
.calen-box {
    overflow: hidden;
    position: relative;
    width: 64px;
    min-width: 64px;
    height: 64px;
    border: 1px solid #ffb300;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.day {
    margin-top: 14px;
    text-align: center;
    font-size: 20px !important;
    font-weight: 700;
    color: #004e9a;
    line-height: 1;
    margin-bottom: 5px;
}

.mon-year {
    font-weight: 500;
    color: #333;
    font-size: 15px;
    line-height: 1.4;
    text-align: left;
    font-size: 13px;
}

.calen-box::before {
    top: 0px;
    width: 100%;
    content: "";
    position: absolute;
    background-color: #ffb300;
    height: 9px;
}

.row-calen {
    display: flex;
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
}
.hidden{
    display: none;
}
.row-calen > a {
    color: #333;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    margin-left: 15px;
    text-decoration: none;
    width: 156px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.row-calen a:hover{
    color: #25aae2;
}

.row-calen::before {
    content: "";
    background: #ebebeb;
    position: absolute;
    height: 1px;
    right: -20px;
    left: -20px;
    bottom: 0px;
}

.btn-add {
    text-align: center;
}

.btn-add .btn-show {
    border: 0px;
    background-color: #fbfbfb;
}
.btn-show:hover{
    color: #004e9a;
}
.add a {
    color: #004e9a;
}

/* SIGN-UP */
.info-item {
    margin-bottom: 10px;
}

.info-item input {
    padding: 9px 5px 9px 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 86%;
    max-height: 115px;
}

.info-item textarea {
    width: 86%;
    max-height: 115px;
    padding: 9px 5px 9px 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.btn-post {
    text-align: center;
}

.btn-post a {
    background: #004e9a;
    color: #fff;
    border-radius: 30px;
    padding: 12px 0;
    display: block;
    border: 1px solid #fff;
}

.btn-post > a:hover {
    color: #fff !important;
    border: 1px solid #004e9a;
}

/* -------------------------------------------------------------- */
/* Responsiveeeeeeeeeeee */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .arrow-up i{
        right: 25% !important;
    }
}
/* Mobile */
@media screen and (max-width: 600px) {
    .container{
        flex-direction: column;
        width: 95% !important;
    }
    .text-img{
        text-align: center !important;
    }
    .text-main{
        text-align: center !important;
    }
    .text-main .text-p{
        text-align: start !important;
    }
    .content-text{
        flex-direction: column;
    }
    .main-content{
        width: 100%;
    }
    .content-right{
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
    }
    .desc{
        padding-right: 0;
    }
    .fanpage-h .fanpage img{
        width: 50% !important;
    }
    .arrow-up i{
        font-size: 20px !important;
    }
    .nav{
        margin-left: 2% !important;
    }
    .text-img img{
        padding-right: 0 !important;
    }
    .row-blog > a:nth-child(2), .row-calen > a {
        width: auto;
    }
    .form, .right-menu{
        width: 70% !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1025px) {
    /* Responsive for tablet */
    h1{
        font-size: 20px!important;
    }
    .nav{
        margin-left: 20px !important;
    }
    .container{
        width: 100%;
    }
    .content-right{
        margin-right: 3%;
    }
    .right-menu .row i{
        margin-left: 0;
    }
    .right-menu .row a{
        margin-left: 1em;
    }
    h2{
        font-size: 16px!important;
    }
    .desc{
        padding: 10px !important;
    }
    .desc img{
        width: 80%;
    }
    #solid::before{
        margin-top: 49px;
    }
  }

  @media only screen and (min-width: 1025px) {
    .fa-bars{
        display: none !important;
    }
  }