/* phần dùng chung */

@font-face {
       font-family: 'open sans';
       src: url('./font/Open_Sans/static/OpenSans-Regular.ttf');
}

@font-face {
       font-family: 'open sans bold';
       src: url('./font/Open_Sans/static/OpenSans-Bold.ttf');
}


@font-face {
       font-family: 'fontawesome';
       src: url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');
}

a {
       text-decoration: none;
       color: white;
}

li {
       list-style: none;
}

* {
       margin: 0;
       padding: 0;
}

:root {
       --corler: #FCB100;
       --font-name: 'open sans';
       --font-name-bold: 'open sans bold';
}

/* hết phần dùng chung */
/* header */
header {
       width: 100%;
       transition: 500ms;
       position: relative;
}

.close_header {
       transform: translateY(-65%);
       position: sticky;
       top: 0;
       z-index: 1000;
}

.line {

       border-top: 3px solid var(--corler);
}

.header-1 {
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       background-color: white;
}

.logo {
       box-sizing: border-box;
       margin-top: 5px;
       margin-left: 200px;
}

.hotline {
       box-sizing: border-box;
       width: 230px;
       height: 65px;
       display: flex;
       align-items: center;
       justify-content: space-evenly;
       margin-left: 50px;
}

.vertical-lines {
       height: 50px;
       border-right: 1px solid;
}

.phone-number {
       display: flex;
       flex-direction: column;
       padding-right: 10px;
}

.phone-number h3 {
       font-family: var(--font-name);
       font-size: 17px;
       font-weight: lighter;
}

.sdt {
       color: var(--corler);
       margin-top: 5px;
}

.Email {
       width: 230px;
       height: 65px;
       display: flex;
       align-items: center;
       justify-content: space-evenly;
}

.email-name h3 {
       font-family: var(--font-name);
       font-size: 17px;
       font-weight: lighter;
}

.mail {
       color: var(--corler);
       margin-top: 5px;
}

.search form {
       width: 300px;
       height: 50px;
       border: 1px solid gray;
       border-radius: 5px;
       display: flex;
       align-items: center;
       justify-content: space-evenly;
       margin-right: 50px;
}

.search form input {
       font-family: var(--font-name);
       font-size: 15px;
       color: grey;
       border: hidden;
}

.search form input:focus {
       outline: none;
}

.search button {
       border: none;
       background-color: white;
       color: grey;
       font-size: 20px;
}

.header-2 {
       width: 100%;
       background-color: #004E9A;
       display: flex;
       justify-content: center;
}

.header-2 > ul {
       box-sizing: border-box;
       width: 1090px;
       height: 65px;
       display: flex;
       align-items: center;
       justify-content: center;
}

.header-2 > ul > li {

       box-sizing: border-box;
       display: block;
       /* border: 2px solid white; */
       height: 65px;
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 20px;
}

.header-2 h3 {
       font-size: 15px;
       font-family: var(--font-name);
}

.header-2 >ul>li:nth-child(1) {
       font-size: 25px;
       background-color: #1A60A4;
}

.header-2>ul>li:hover {
       background-color: #1A60A4;
}

.image-study-abroad img {
       width: 100%;
}

.header-2 ul li:nth-child(4) {
       position: relative;
}

.header-2 ul li:nth-child(4) .sub-menu {
       width: 260px;
       background: #fff;
       position: absolute;
       top: 70px;
       left: 0;
       opacity: 0;
       visibility: hidden;
       transition: 1s;
       border-radius: 5px;
       border: 1px solid #eee;
       z-index: 100;
}

.header-2 ul li:nth-child(4) .sub-menu a {
       color: grey;
       display: block;
       padding: 5px 25px 4px 25px;
       font-family: var(--font-name);
}

.header-2 ul li:nth-child(4) .sub-menu a:hover {
       color: black;
       background-color: #E1E1E1;
}

.header-2 ul li:nth-child(4) .sub-menu {
       display: flex;
       flex-direction: column;
}

.header-2 ul li:nth-child(4):hover .sub-menu {
       visibility: visible;
       opacity: 1;
       display: block;
}

.header-2 .admin-setting{
       display: none;
}
.header-2 .user-setting{
       display: none;
}


/* form login */
.form-login {
       border: 1px solid white;
       background-color: white;
       position: fixed;
       z-index: 5000;
       left: 35%;
       top: 20%;
       width: 500px;
       display: flex;
       flex-direction: column;
       align-items: center;
       display: none;
}
.form-login .close-form{
       position: absolute;
       right: 5px;
       top: 2px;
}
.form-login .back-to-login{
       position: absolute;
       left: 5px;
       top: 2px;
}
.form-login h3{
       font-family: var(--font-name-bold);
       font-size: 30px;
       text-align: center;
       margin-top: 30px;
       margin-bottom: 30px;
       color: #ea7c69;
}
.form-login form input{
       width: 300px;
       height: 40px;
       border-radius: 10px;
       font-family: var(--font-name);
       text-align: center;
       margin-bottom: 5px;
}
.form-login form .warning {
       margin-bottom: 10px;
       visibility: hidden;
}

.form-login form .warning img{
       width: 15px;
}
.form-login form button {
       margin-top: 20px;
       background-color: #ea7c69;
       width: 100%;
       height: 40px;
       border-radius: 50px;
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       color: white;
       border-color: #ea7c69;
       font-family: var(--font-name-bold);
       margin-bottom: 20px;
}
.form-login form .warning span{
       font-family: var(--font-name-bold);
       color: red;
}
.form-login form .register{
       text-align: right;
       margin-bottom: 10px;
}
.form-login form .register a{
       color: #ea7c69;
       font-family: var(--font-name-bold);
}
.form-login form .register span{
       font-family: var(--font-name)
}


.disable{
       opacity: 0.5; /* Độ mờ có thể điều chỉnh */
       pointer-events: none;
}



/* hết header */
/* section body */



section {
       overflow: hidden;
       position: relative;
}

/* container chứa các thẻ img */
.image-study-abroad {
       /* phải chỉnh flex */
       width: 100%;
       display: flex;
       /* tạo hiệu ứng slide */
       animation: slide 16s infinite;
}

/* áp dụng cho 3 bức ảnh ( 0 > 200 %) , nếu 4 bức thì (0 > 300 %) , ...  */
/* 0 -> 25 %: là chưa dịch chuyển ảnh, giữ ở 0 */
/*  30 -> 50%: là dịch chuyển ảnh từ tọa độ x đến vị trí -100% chiều rộng bức ảnh và giữ ở đó*/
/* 50 -> 55 %: là  dịch chuyển ảnh từ tọa độ x đến vị trí -200% chiều rộng bức ảnh và giữ ở đó*/
/* 80 -> 90% : là dịch chuyển ảnh từ tọa độ x đến vị trí -100% chiều rộng bức ảnh và giữ ở đó */
/* 100% : là dichj chuyển ảnh từ tọa độ x đến vị trí 0 (vị trí ban đầu ) */
@keyframes slide {
       0% {
              transform: translateX(0);
       }

       25% {
              transform: translateX(0);
       }

       30% {
              transform: translateX(-100%);
       }

       50% {
              transform: translateX(-100%);
       }

       55% {
              transform: translateX(-200%);
       }

       75% {
              transform: translateX(-200%);
       }

       80% {
              transform: translateX(-100%);
       }

       90% {
              transform: translateX(-100%);
       }

       100% {
              transform: translateX(0);
       }

}

.About-us {

       display: flex;
       justify-content: space-evenly;
       background-color: #F9F9F9;
       padding-bottom: 50px;
}

.infor {
       width: 570px;
}

.text-1 {
       margin-top: 50px;
       display: flex;
       align-items: center;
}

.text-1 .line {
       width: 100px;
}

.text-1 h3 {
       font-family: var(--font-name);
       font-size: 16px;
       color: grey;
       margin-right: 10px;
}

.text-2 {
       margin-top: 10px;
}

.text-2 h2 {
       font-family: var(--font-name);
       font-size: 22px;
       font-weight: bold;
       color: #004E9A;
}

.button-watch-more {
       margin-top: 20px;
       background-color: #004E9A;
       width: 200px;
       height: 40px;
       border-radius: 50px;
       display: flex;
       justify-content: space-evenly;
       align-items: center;
}

.button-watch-more a {
       font-family: var(--font-name);
       transition: 1s;
}

.button-watch-more :hover {
       color: #1AA7E2;
}

.paragraph {
       margin-top: 30px;
       font-family: var(--font-name);
       font-size: 15px;
       color: grey;
       text-align: justify;
       line-height: 25px;
}

.image-about-us {
       margin-top: 50px;
}

.study-abroad-modules {
       margin: 10px;
       display: flex;
       justify-content: center;
}

.study-abroad-modules ul {
       box-sizing: border-box;
       width: 1170px;
       display: flex;
}

.study-abroad-modules ul li {
       width: 33.33333333%;
       margin: 20px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
}

.image-abroad {
       display: flex;
       flex-direction: column;
       align-items: center;
}

.image-abroad img:first-child {
       border-radius: 50%;
       border: 5px solid grey;
}

.name-abroad {
       margin-top: 5px;
}

.name-abroad h3 {
       font-family: var(--font-name);
       color: #004E9A;
       font-weight: bold;
}

.infor-abroad {
       margin-top: 10px;
}

.infor-abroad p {
       font-family: var(--font-name);
       text-align: center;
       color: grey;
}

.name-news a {
       color: black;
}


.admissions-information {
       display: flex;
       justify-content: center;
       padding-top: 50px;
}

.admissions-news {
       width: 780px;
       margin-right: 30px;
}

.admissions-news h2 {
       font-family: var(--font-name);
       color: #004E9A;
       font-weight: bold;
       margin-bottom: 10px;
}

.admissions-news .line {
       margin-bottom: 30px;
}

.form-admissions {
       width: 370px;
}

.container-news {
       display: flex;
}

.container-left {
       margin-right: 30px;
       width: 55%;
}

.container-left .name-news a h3 {
       margin-top: 10px;
       font-family: var(--font-name);
       font-size: 17px;
       font-weight: bold;
       transition: 1s;
}
.container-left .image-news img {
       width: 380px;
}
.container-left p {
       font-family: var(--font-name);
}

.container-left .name-news a h3:hover,
.content .name-news a h3:hover {
       color: #1AA7E2;
}


.calender-watch {
       margin: 10px;
}

.calender-watch span {
       font-family: var(--font-name);
       font-size: 15px;
       color: grey;

}

.calender span {
       margin-left: 10px;
}

.calender {
       margin-right: 5px;
}

.content {
       position: relative;
}

.content img {
       width: 120px;
}

.content .name-news h3 {
       width: 235px;
       font-family: var(--font-name);
       font-size: 15px;
       transition: 1s;
}

.content .name-news {
       position: absolute;
       right: 0px;
       top: 0px;
}

.content .calender-watch {
       position: absolute;
       right: 0px;
       top: 40px;
}

.content p {
       font-family: var(--font-name);
       font-size: 15px;
       margin-top: 10px;
}

.content .line {
       border: 1px solid grey;
       margin-top: 10px;
}

.form-admissions {
       background-color: #F9F9F9;
       border-radius: 10px;
}

.form-admissions .name-form {
       box-sizing: border-box;
       background-color: #004E9A;
       height: 60px;
       border-top-right-radius: 10px;
       border-top-left-radius: 10px;
}

.form-admissions .name-form h2 {
       font-family: var(--font-name);
       color: white;
       padding-top: 10px;
       padding-left: 20px;
}

.form-admissions form {
       display: flex;
       flex-direction: column;
}

.form-admissions p {
       font-family: var(--font-name);
       margin: 15px;
       font-size: 15px;
}

.form-admissions input {
       box-sizing: border-box;
       height: 40px;
       font-family: var(--font-name);
       font-size: 15px;
       border-radius: 5px;
       padding: 10px;
       margin: 15px;
       border: 1px solid gray;
}

.form-admissions textarea {
       box-sizing: border-box;
       font-family: var(--font-name);
       font-size: 15px;
       border-radius: 5px;
       padding: 10px;
       margin: 15px;
       border: 1px solid gray;
}

.form-admissions input:hover,
.form-admissions textarea:hover {
       border: 2px solid #004E9A;
}

.form-admissions button {
       width: 100%;
       border: 1px solid #004E9A;
}

.form-admissions button a {
       font-family: var(--font-name);
       font-size: 20px;
       font-weight: bold;
}

.statistical ul {
       margin-top: 70px;
       background-image: url("./image/bg_thongke.jpg");
       /* background-repeat: no-repeat; */
       height: 270px;
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       margin-bottom: 40px;
}

.statistical li {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
}

.statistical li img {
       width: 50px;
       margin-bottom: 20px;
}

.statistical li h2,
.statistical li h3 {
       font-family: var(--font-name);
       color: white;
}

.statistical li h2 {
       font-size: 35px;
}

.statistical li h3 {
       font-size: 15px;
}

.study-abroad-guide {
       position: relative;
       width: 1168px;
       margin: 0 auto;
}

.study-abroad-guide a {
       color: grey;
       position: absolute;
       right: 0;
       top: 0;
       font-size: 20px;
       transition: 1s;
}

.study-abroad-guide a:hover {
       color: #1A60A4;
}

.study-abroad-guide h2 {
       font-family: var(--font-name);
       color: #004E9A;
}


/* footer */

.partner-container {
       margin-top: 50px;
       background-color: #F7F7F7;
       display: flex;
       justify-content: space-evenly;
       height: 100px;
       padding: 30px;
}

.footer-2 {
       position: relative;
       box-sizing: border-box;
       display: flex;
       justify-content: space-around;
       background-image: url("./image/bg_footer.jpg");
       /* background-repeat: no-repeat; */
       padding: 50px;
}

.access-quickly a {
       color: white;
       font-family: var(--font-name);
       transition: 1s;
}

.access-quickly a:hover {
       color: #1AA7E2;
}

.access-quickly h3 {
       color: #FCB100;
       font-family: var(--font-name);
       margin-bottom: 10px;
       font-size: 17px;
}

.access-quickly .line {
       width: 40px;
       border: 1px solid white;
       margin-bottom: 10px;
}

.access-quickly li::before {
       content: "\f105";
       font-family: 'fontawesome';
       color: #F7F7F7;
}

.access-quickly li {
       padding: 0;
       margin-bottom: 5px;
}

.access-quickly a {
       margin-left: 5px;
}

.access-quickly li .list-study-abroad-country {
       margin-left: 25px;
       margin-top: 5px;
}

.company-information h3 {
       color: #FCB100;
       font-family: var(--font-name);
       margin-bottom: 10px;
}

.company-information .line {
       width: 40px;
       border: 1px solid white;
       margin-bottom: 10px;
}

.company-information span {
       font-family: var(--font-name);
       color: #F7F7F7;
}

.company-information li {
       margin-bottom: 10px;
}

.company-information .icon {
       margin-right: 5px;
}

.fanpage h3 {
       color: #FCB100;
       font-family: var(--font-name);
       margin-bottom: 10px;
}

.fanpage .line {
       width: 40px;
       border: 1px solid white;
       margin-bottom: 10px;
}

.button-to-top {
       position: fixed;
       background-color: #FCB100;
       width: 40px;
       height: 40px;
       border-radius: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       right: 50px;
       bottom: 50px;
       cursor: pointer;
}

.people-create {
       position: absolute;
       background-color: #3171AE;
       width: 100%;
       display: flex;
       justify-content: center;
       bottom: 0;
}

.people-create h3 {
       font-family: var(--font-name);
       font-size: 15px;
       color: white;
}