/* phần dùng chung */
@font-face {
       font-family: 'open sans';
       src: url('./font/Open_Sans/static/OpenSans-Regular.ttf');
}

@font-face {
       font-family: 'open sans bold';
       src: url('./font/Open_Sans/static/OpenSans-Bold.ttf');
}


@font-face {
       font-family: 'fontawesome';
       src: url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');
}

a {
       text-decoration: none;
       color: white;
}

li {
       list-style: none;
}

* {
       margin: 0;
       padding: 0;
}

:root {
       --corler: #FCB100;
       --font-name: 'open sans';
}
/* hết phần dùng chung */
/* header */
header {
       width: 100%;
       transition: 500ms;
       position: relative;
}

.close_header {
       transform: translateY(-65%);
       position: sticky;
       top: 0;
       z-index: 1000;
}

.line {

       border-top: 3px solid var(--corler);
}

.header-1 {
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       background-color: white;
}

.logo {
       box-sizing: border-box;
       margin-top: 5px;
       margin-left: 200px;
}

.hotline {
       box-sizing: border-box;
       width: 230px;
       height: 65px;
       display: flex;
       align-items: center;
       justify-content: space-evenly;
       margin-left: 50px;
}

.vertical-lines {
       height: 50px;
       border-right: 1px solid;
}

.phone-number {
       display: flex;
       flex-direction: column;
       padding-right: 10px;
}

.phone-number h3 {
       font-family: var(--font-name);
       font-size: 17px;
       font-weight: lighter;
}

.sdt {
       color: var(--corler);
       margin-top: 5px;
}

.Email {
       width: 230px;
       height: 65px;
       display: flex;
       align-items: center;
       justify-content: space-evenly;
}

.email-name h3 {
       font-family: var(--font-name);
       font-size: 17px;
       font-weight: lighter;
}

.mail {
       color: var(--corler);
       margin-top: 5px;
}

.search form {
       width: 300px;
       height: 50px;
       border: 1px solid gray;
       border-radius: 5px;
       display: flex;
       align-items: center;
       justify-content: space-evenly;
       margin-right: 50px;
}

.search form input {
       font-family: var(--font-name);
       font-size: 15px;
       color: grey;
       border: hidden;
}

.search form input:focus {
       outline: none;
}

.search button {
       border: none;
       background-color: white;
       color: grey;
       font-size: 20px;
}

.header-2 {
       width: 100%;
       background-color: #004E9A;
       display: flex;
       justify-content: center;
}

.header-2 > ul {
       box-sizing: border-box;
       width: 1090px;
       height: 65px;
       display: flex;
       align-items: center;
       justify-content: center;
}

.header-2 > ul > li {

       box-sizing: border-box;
       display: block;
       /* border: 2px solid white; */
       height: 65px;
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 20px;
}

.header-2 h3 {
       font-size: 15px;
       font-family: var(--font-name);
}

.header-2 >ul>li:nth-child(1) {
       font-size: 25px;
}

.header-2 >ul>li:nth-child(8) {
       background-color: #1A60A4;
}

.header-2 > ul > li:hover {
       background-color: #1A60A4;
}
.header-2-li-is-active{
       background-color: #1A60A4;
}

.image-study-abroad img {
       width: 100%;
}

.header-2 ul li:nth-child(4) {
       position: relative;
}

.header-2 ul li:nth-child(4) .sub-menu {
       width: 260px;
       background: #fff;
       position: absolute;
       top: 70px;
       left: 0;
       opacity: 0;
       visibility: hidden;
       transition: 1s;
       border-radius: 5px;
       border: 1px solid #eee;
       z-index: 100;
}
.header-2 ul li:nth-child(4) .sub-menu a{
       color: grey;
       display: block;
       padding: 5px 25px 4px 25px;
       font-family: var(--font-name);
}
.header-2 ul li:nth-child(4) .sub-menu a:hover{
       color: black; 
       background-color: #E1E1E1;     
}
.header-2 ul li:nth-child(4) .sub-menu{
       display: flex;
       flex-direction: column;
}

.header-2 ul li:nth-child(4):hover .sub-menu{
       visibility: visible;
       opacity: 1;
       display: block;
}



/* hết header */

/* section body */
section {
       overflow: hidden;
       position: relative;
}

/* container chứa các thẻ img */
.image-study-abroad {
       /* phải chỉnh flex */
       width: 100%;
       display: flex;
       /* tạo hiệu ứng slide */
       animation: slide 16s infinite;
}

/* áp dụng cho 3 bức ảnh ( 0 > 200 %) , nếu 4 bức thì (0 > 300 %) , ...  */
/* 0 -> 25 %: là chưa dịch chuyển ảnh, giữ ở 0 */
/*  30 -> 50%: là dịch chuyển ảnh từ tọa độ x đến vị trí -100% chiều rộng bức ảnh và giữ ở đó*/
/* 50 -> 55 %: là  dịch chuyển ảnh từ tọa độ x đến vị trí -200% chiều rộng bức ảnh và giữ ở đó*/
/* 80 -> 90% : là dịch chuyển ảnh từ tọa độ x đến vị trí -100% chiều rộng bức ảnh và giữ ở đó */
/* 100% : là dichj chuyển ảnh từ tọa độ x đến vị trí 0 (vị trí ban đầu ) */
@keyframes slide {
       0% {
              transform: translateX(0);
       }

       25% {
              transform: translateX(0);
       }

       30% {
              transform: translateX(-100%);
       }

       50% {
              transform: translateX(-100%);
       }

       55% {
              transform: translateX(-200%);
       }

       75% {
              transform: translateX(-200%);
       }

       80% {
              transform: translateX(-100%);
       }

       90% {
              transform: translateX(-100%);
       }

       100% {
              transform: translateX(0);
       }

}
.container-path{
       display: block;
       background-color: #FFFFFF;
       box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
       /* z-index: 2000; */
       margin-bottom: 60px ;

}
.container-path a{
       color: black;
       transition: 1s;
}
.container-path a:hover{
       color: #25BBEB;
}
.container-path ul li {
       display: inline;
}
.container-path ul{
       display: block;
       box-sizing: border-box;
       padding-left: 10%;
       padding-top: 10px;
       padding-bottom: 10px;
}
.container-path ul li a span{
       margin-left: 5px;
       margin-right: 5px;
       font-family: var(--font-name);
       font-size: 15px;
}

.contact-info{
       display: flex;
       justify-content: center;
}
.infor-about-us{
       width: 40%;
       margin-right: 30px;
}
.address h2{
       font-family: 'open sans bold';
       color: #004E9A;
       margin-bottom: 20px;
}
.address ul li{
       margin-top: 10px;
}
.address ul li .text{
       font-family: var(--font-name);
       font-size: 15px;
       color: gray;
}
.address ul li .icon{
       color: grey;
       font-size: 18px;
       margin-right: 5px;
}
.address{
       margin-bottom: 30px;
}

.form {
       display: flex;
       flex-direction: column;
}
.form h2{
       font-family: 'open sans bold';
       color: #004E9A;
       margin-bottom: 18px;
}
.form input , .form textarea{
       font-family: var(--font-name);
       font-size: 15px;
       background-color: #F8F8F8;
       box-sizing: border-box;
       width: 100%;
       padding: 13px 20px;
       border: 1px solid grey;
       margin-bottom: 15px;
       border-radius: 5px;
}
.form input:focus , .form textarea:focus{
       outline: none;
}
.form .button{
       display: flex;
}
.form .button .submit , .form .button .reload{
       margin-top: 20px;
       width: 100%;
       height: 50px;
       border-radius: 50px;
       display: flex;
       justify-content: space-evenly;
       align-items: center;
}
.form .button .submit{
       margin-right: 30px;
       background-color: #004E9A;
       border: 1px solid #004E9A;
}
.form .button .reload{
       background-color: #FCB100;
       border: 1px solid #FCB100;
}

.form .button button a {
       font-family: var(--font-name);
       font-size: 15px;
       transition: 1s;
}

.form .button button :hover {
       color: #1AA7E2;
}

/* footer */

.partner-container {
       margin-top: 50px;
       background-color: #F7F7F7;
       display: flex;
       justify-content: space-evenly;
       height: 100px;
       padding: 30px;
}

.footer-2 {
       position: relative;
       box-sizing: border-box;
       display: flex;
       justify-content: space-around;
       background-image: url("./image/bg_footer.jpg");
       /* background-repeat: no-repeat; */
       padding: 50px;
}

.access-quickly a {
       color: white;
       font-family: var(--font-name);
       transition: 1s;
}

.access-quickly a:hover {
       color: #1AA7E2;
}

.access-quickly h3 {
       color: #FCB100;
       font-family: var(--font-name);
       margin-bottom: 10px;
}

.access-quickly .line {
       width: 40px;
       border: 1px solid white;
       margin-bottom: 10px;
}

.access-quickly li::before {
       content: "\f105";
       font-family: 'fontawesome';
       color: #F7F7F7;
}

.access-quickly li {
       padding: 0;
       margin-bottom: 5px;
}

.access-quickly a {
       margin-left: 5px;
}

.access-quickly li .list-study-abroad-country {
       margin-left: 25px;
       margin-top: 5px;
}

.company-information h3 {
       color: #FCB100;
       font-family: var(--font-name);
       margin-bottom: 10px;
}

.company-information .line {
       width: 40px;
       border: 1px solid white;
       margin-bottom: 10px;
}

.company-information span {
       font-family: var(--font-name);
       color: #F7F7F7;
}

.company-information li {
       margin-bottom: 10px;
}

.company-information .icon {
       margin-right: 5px;
}

.fanpage h3 {
       color: #FCB100;
       font-family: var(--font-name);
       margin-bottom: 10px;
}

.fanpage .line {
       width: 40px;
       border: 1px solid white;
       margin-bottom: 10px;
}

.button-to-top {
       position: fixed;
       background-color: #FCB100;
       width: 40px;
       height: 40px;
       border-radius: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       right: 50px;
       bottom: 50px;
}

.people-create {
       position: absolute;
       background-color: #3171AE;
       width: 100%;
       display: flex;
       justify-content: center;
       bottom: 0;
}

.people-create h3 {
       font-family: var(--font-name);
       font-size: 15px;
       color: white;
}




