/* Footer */
.head-footer {
    background-color: #f7f7f7;
}

.head-footer .content-footer .img-wrap {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.head-footer .content-footer .img-wrap img:nth-child(6) {
    display: none;
}

.head-footer .content-footer {
    position: relative;
}

.head-footer .content-footer i:first-child {
    color: #333 !important;
    top: 65px;
    left: -26px;
    position: absolute;
}
.head-footer .content-footer i:last-child {
    color: #333 !important;
    right: -26px;
    top: 65px;
    position: absolute;
}
.center-footer {
    background-image: url("../img/bg_footer.jpg");
    padding: 50px 0px 35px;
}

.center-footer .content-footer {
    gap: 30px;
    display: flex;
}

.center-footer .content-footer .contact {
    width: calc(39.9699% - (0.60030068728522 * 30px));
}

.center-footer .content-footer .access {
    width: calc(29.0163% - (0.70983676975945 * 30px));
}

.center-footer .content-footer .fanpage-h {
    margin-left: auto;
    width: 350px;
    margin:0 3%;
}

.center-footer .content-footer h2 {
    position: relative;
    color: #ffb300;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 45px;
}

.center-footer .content-footer h2::before {
    content: "";
    width: 40px;
    height: 0.5px;
    background: #fff;
    position: absolute;
    bottom: -20px;
    left: 0;
}

.footer-item{
    margin-left: 5%;
}
.footer-item span {
    font-family: "open sans", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    line-height: 1.4;
}

.footer-item a {
    font-family: "open sans", sans-serif;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    line-height: 1.4;
    text-align: left;
}

.footer-item a:hover {
    color: #25aae2 !important;
}

.footer-item .row {
    margin-bottom: 14px;
}

.footer-item .sub-menu {
    margin-left: 20px;
}
.sub-menu .row a::before{
    content: "<";
    padding-right: 5px;
    color: #aeaeae;
}
.sub-menu .row-sub {
    margin-bottom: 10px;
}

/* END Footer */
.end-footer {
    background-color: #3171ae;
    padding: 4px 0px;
}

.end-footer .content-footer {
    display: flex;
    margin-left: 5%;
}

.online {
    margin-left: 50%;
    display: flex;
    align-items: center;
}

.onl-item:first-child {
    margin-right: 20px;
}

.end-footer p,
.end-footer span {
    color: #fff;
}

.arrow-up i {
    font-size: 25px;
    color: #004e9a;
    background-color: orange;
    border-radius: 50%;
    padding: 13px 16px;
    position: fixed;
    bottom: 70px;
    right: 58px;
}
/* @media screen and (max-width: 768px) {
    .banner img{
        width: 80vw !important;
        height: auto;
    }
} */