*{
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.imageproduct {
    width: 100%;
    border-radius: 10px;
}
.cursor {
    cursor: pointer;
 }
.active {
    border: 2px hsl(26, 100%, 55%) solid;
    opacity: 0.2;
} 
.thumbnail-row {
    display: flex;
    justify-content: space-between;
}
.thumbnail {
    width: 90%;
    border-radius: 10px;
    margin-right: 0px;
    padding: 0px;
}
.thumbnail:hover {
    opacity: 0.6;
}

.images {
    width: 30.5%;
}



.minus-btn, .plus-btn {
    margin: 0px 30px;
    cursor: pointer;
}
.minus-btn:hover, .plus-btn:hover {
    opacity: 0.5;
}

.display {
    display: flex;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 14px;
    color:red;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 2 / 1 / 3 / 2; }
    .div4 { grid-area: 2 / 2 / 3 / 3; }
    .div5 { grid-area: 3 / 1 / 4 / 2; }
    .div6 { grid-area: 3 / 2 / 4 / 3; }
    
    
aside {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageproduct2 {
    width: 450px;
    border-radius: 10px;
}
.row {
    display: flex;
    justify-content: center;
} 
.demo {
    width: 80px;
    border-radius: 10px;
    margin: 10px;
    padding: 0px;
}
.demo:hover {
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.over-display {
    position: absolute;
    top: 15%;
}
.overlay {
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 5;
    height: 50em;
    width: 100%;
}
.prev-btn {
    cursor: pointer;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    margin-left: -25px;
} 
.next-btn {
    cursor: pointer;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    right: 0px;
    margin-right: -25px;
}
.prev:hover, .next:hover {
    filter: invert(58%) sepia(50%) saturate(3283%) hue-rotate(348deg) brightness(102%) contrast(101%);
}
.close-icon {
    position: absolute;
    right: 0;
    top: -5%;
    color: white;
    cursor: pointer;
    z-index: 1;
    filter: brightness(0) invert(1);
}
.close-icon:hover {
    filter: invert(58%) sepia(50%) saturate(3283%) hue-rotate(348deg) brightness(102%) contrast(101%);
}
aside {
    display: none;
}
.toggleaside {
    display: flex;
}



.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
  
  .grid-item {
    background-color: #ccc;
    padding: 10px;
  }
  
  .grid-item-1 {
    grid-column: 1 / 2;
    grid-row: 1;
  }
  
  .grid-item-2 {
    grid-column: 2;
    grid-row: 1;
  }
  
  .grid-item-3 {
    grid-column: 3;
    grid-row: 1;
  }
  
  .grid-item-4 {
    grid-column: 1;
    grid-row: 2;
  }
  
  .grid-item-5 {
    grid-column: 2 / 4;
    grid-row: 2;
  }


  