/* phần dùng chung */
@font-face {
       font-family: 'open sans';
       src: url('./font/Open_Sans/static/OpenSans-Regular.ttf');
}

@font-face {
       font-family: 'fontawesome';
       src: url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');
}

a {
       text-decoration: none;
       color: white;
}

li {
       list-style: none;
}

* {
       margin: 0;
       padding: 0;
}

:root {
       --corler: #FCB100;
       --font-name: 'open sans';
}





.partner-container {
       margin-top: 50px;
       background-color: #F7F7F7;
       display: flex;
       justify-content: space-evenly;
       height: 100px;
       padding: 30px;
}

.footer-2 {
       position: relative;
       box-sizing: border-box;
       display: flex;
       justify-content: space-around;
       background-image: url("./image/bg_footer.jpg");
       /* background-repeat: no-repeat; */
       padding: 50px;
}

.access-quickly a {
       color: white;
       font-family: var(--font-name);
       transition: 1s;
}

.access-quickly a:hover {
       color: #1AA7E2;
}

.access-quickly h3 {
       color: #FCB100;
       font-family: var(--font-name);
       margin-bottom: 10px;
}

.access-quickly .line {
       width: 40px;
       border: 1px solid white;
       margin-bottom: 10px;
}

.access-quickly li::before {
       content: "\f105";
       font-family: 'fontawesome';
       color: #F7F7F7;
}

.access-quickly li {
       padding: 0;
       margin-bottom: 5px;
}

.access-quickly a {
       margin-left: 5px;
}

.access-quickly li .list-study-abroad-country {
       margin-left: 25px;
       margin-top: 5px;
}

.company-information h3 {
       color: #FCB100;
       font-family: var(--font-name);
       margin-bottom: 10px;
}

.company-information .line {
       width: 40px;
       border: 1px solid white;
       margin-bottom: 10px;
}

.company-information span {
       font-family: var(--font-name);
       color: #F7F7F7;
}

.company-information li {
       margin-bottom: 10px;
}

.company-information .icon {
       margin-right: 5px;
}

.fanpage h3 {
       color: #FCB100;
       font-family: var(--font-name);
       margin-bottom: 10px;
}

.fanpage .line {
       width: 40px;
       border: 1px solid white;
       margin-bottom: 10px;
}

.button-to-top {
       position: fixed;
       background-color: #FCB100;
       width: 40px;
       height: 40px;
       border-radius: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       right: 50px;
       bottom: 50px;
}

.people-create {
       position: absolute;
       background-color: #3171AE;
       width: 100%;
       display: flex;
       justify-content: center;
       bottom: 0;
}

.people-create h3 {
       font-family: var(--font-name);
       font-size: 15px;
       color: white;
}