/* common */

body {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
}

.content {
    width: 67%;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #25aae2 !important;
}

/* Footer */
.head-footer {
    background-color: #f7f7f7;
}

.head-footer .content .img-wrap {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.head-footer .content .img-wrap img:nth-child(6) {
    display: none;
}

.head-footer .content {
    position: relative;
}

.head-footer .content i:first-child {
    display: none;
    color: #333 !important;
    top: 65px;
    left: -26px;
    position: absolute;
}
.head-footer .content i:last-child {
    display: none;
    color: #333 !important;
    right: -26px;
    top: 65px;
    position: absolute;
}
.center-footer {
    background-image: url("./img/bg_footer.jpg");
    padding: 50px 0px 35px;
}

.center-footer .content {
    gap: 30px;
    display: flex;
}

.fanpage-h .fanpage img {
    width: 100%;
}

.center-footer .content .contact {
    width: calc(39.9699% - (0.60030068728522 * 30px));
}

.center-footer .content .access {
    width: calc(29.0163% - (0.70983676975945 * 30px));
}

.center-footer .content .fanpage-h {
    margin-left: auto;
    width: calc(31.0137% - (0.68986254295533 * 30px));
}

.center-footer .content h2 {
    position: relative;
    color: #ffb300;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 45px;
}

.center-footer .content h2::before {
    content: "";
    width: 40px;
    height: 0.5px;
    background: #fff;
    position: absolute;
    bottom: -20px;
    left: 0;
}

.footer-item span {
    font-family: "open sans", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    line-height: 1.4;
}

.footer-item a {
    font-family: "open sans", sans-serif;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    line-height: 1.4;
    text-align: left;
}

.footer-item a:hover {
    color: #25aae2 !important;
}

.footer-item .row {
    margin-bottom: 14px;
}

.footer-item .sub-menu {
    margin-left: 20px;
}

.sub-menu .row-sub {
    margin-bottom: 10px;
}

/* END Footer */
.end-footer {
    background-color: #3171ae;
    padding: 4px 0px;
}

.end-footer .content {
    display: flex;
}

.online {
    margin-left: auto;
    display: flex;
}

.onl-item:first-child {
    margin-right: 20px;
}

.end-footer p,
.end-footer span {
    color: #fff;
}

.arrow-up i {
    font-size: 25px;
    color: #004e9a;
    background-color: orange;
    border-radius: 50%;
    padding: 13px 16px;
    position: fixed;
    bottom: 70px;
    right: 58px;
}

@media only screen and (max-width: 46.1875em) {
    .nav-btn {
        display: block;
    }

    .nav_mobile {
        width: 70%;
    }
    .content {
        width: 98%;
    }

    .fa-bars {
        display: block;
        margin-left: 35px;
    }

    .header .content .logo {
        margin-right: 10px;
    }
    .text_header {
        display: none;
    }

    .text-item {
        display: none;
    }

    .navigation .content > ul {
        display: none;
    }

    .navigation .content > ul li a .fa-house {
        font-size: 20px;
    }

    .center-footer .content {
        width: 96%;
        margin: 20px;
        flex-direction: column;
    }

    .center-footer .content .contact {
        width: 100%;
    }

    .center-footer .content .access {
        width: 100%;
    }

    .center-footer .content .fanpage-h {
        margin-left: 0;
        width: 100%;
    }
    .fanpage-h .fanpage img {
        width: 90%;
    }

    .head-footer .content i:first-child {
        left: 5px;
    }

    .head-footer .content i:last-child {
        right: 5px;
    }

    .head-footer {
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .img-wrap {
        gap: 0;
        overflow: hidden;
    }

    .img-wrap img {
        width: 152px;
    }

    .end-footer .content {
        display: block;
    }

    .end-footer .content p {
        text-align: center;
    }

    .end-footer .content .online {
        justify-content: center;
    }
}

/* Tablet: width >= 740px  width < 1024px*/
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .nav-btn {
        display: block;
    }
    .content {
        width: 98%;
    }

    .fa-bars {
        display: block;
        margin-left: 35px;
    }

    .header .content {
        justify-content: space-between;
    }

    .text_header {
        display: none;
    }

    .text-item {
        display: none;
    }

    .navigation .content > ul {
        display: none;
    }

    .center-footer .content {
        width: 96%;
        margin: 20px;
        flex-direction: column;
    }

    .center-footer .content .contact {
        width: 100%;
    }

    .center-footer .content .access {
        width: 100%;
    }

    .center-footer .content .fanpage-h {
        margin-left: 0;
        width: 100%;
    }
    .fanpage-h .fanpage img {
        width: 50%;
    }

    .head-footer .content i:first-child {
        left: 5px;
    }

    .head-footer .content i:last-child {
        right: 5px;
    }

    .head-footer {
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .img-wrap {
        gap: 0;
        overflow: hidden;
    }

    .img-wrap img {
        width: 152px;
    }

    .end-footer .content {
        display: block;
    }

    .end-footer .content p {
        text-align: center;
    }

    .end-footer .content .online {
        justify-content: center;
    }
}
