/* phần dùng chung */

@font-face {
       font-family: 'open sans';
       src: url('../font/Open_Sans/static/OpenSans-Regular.ttf');
}

@font-face {
       font-family: 'open sans bold';
       src: url('../font/Open_Sans/static/OpenSans-Bold.ttf');
}


@font-face {
       font-family: 'fontawesome';
       src: url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');
}

a {
       text-decoration: none;
       color: white;
}

li {
       list-style: none;
}

* {
       margin: 0;
       padding: 0;
}

:root {
       --corler: #FCB100;
       --font-name: 'open sans';
       --font-name-bold: 'open sans bold';
}

/* hết phần dùng chung */

.container-left h3 {
       font-family: var(--font-name-bold);
       font-size: 22px;
       color: #004E9A;
       margin-bottom: 20px;
}

.container-left .text span {
       font-family: var(--font-name);
       text-align: justify;
       font-size: 15px;
}

.container-left .text figure {
       text-align: center;
}

.container-left .text figure img {
       width: 680px;
       margin: 10px;
}

.container-left .text figure figcaption h4 {
       font-family: var(--font-name);
}

.container-left .text .author {
       font-size: 18px;
}

.container-left .text .author span {
       font-weight: bold;
       font-size: 18px;
}
