/* common */
body {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
}

.content {
    width: 67%;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #25aae2 !important;
}

/* HEADER */
.header {
    background-color: #fff;
    padding-top: 5px;
    border-top: 3px solid #ffc12f;
}
.logo {
    margin-right: 180px;
}

.header .content {
    display: flex;
    align-items: center;
}

.search-container {
    position: relative;
    max-width: 340px;
    width: 100%;
    /* margin-left: auto; */
    margin: 0 0 0 45px;
}

.search-container form {
    position: relative;
}

.input-text {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ddd;
    text-indent: 10px;
    outline: none;
    padding: 17px 0 17px 25px;
    background: transparent;
}

.search-container button {
    position: absolute;
    top: 17px;
    right: -23px;
    border: 0;
    background: 0;
    transition: 0.3s;
    outline: none;
    color: #999;
    cursor: pointer;
}

.text_header {
    display: flex;
}

.text-item {
    display: flex;
    align-items: center;
    position: relative;
}

.text-item:first-child {
    margin-right: 105px;
}

.text-item .item {
    display: flex;
    flex-direction: column;
    margin-left: 27px;
}

.text-item .item .title {
    font-size: 15px;
    color: #333;
    font-weight: 400;
    margin-bottom: 10px;
}

.text-item .item .info {
    font-weight: 550;
    font-size: 18px;
    color: #ffb300;
    line-height: 1;
}

.text_header .text-item:first-child:after {
    content: "";
    width: 1px;
    background: #ddd;
    height: 45px;
    position: absolute;
    top: 0;
    right: -55px;
}

/* NAVIGATION */

.navigation {
    background-color: #004e9a;
}
.navigation .content > ul {
    display: flex;
    align-items: center;
}

.navigation .content > ul > li > a {
    display: inline-block;
    padding: 20px 21px;
    color: #fff;
    text-decoration: none;
}

.navigation .content li a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.navigation .content ul li:nth-child(4) {
    position: relative;
}

.navigation .content ul li:nth-child(4):hover .sub-menu {
    visibility: visible;
    opacity: 1;
    display: block;
}

.navigation .content .sub-menu {
    width: 260px;
    background: #fff;
    position: absolute;
    top: 70px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    border-radius: 5px;
    border: 1px solid #eee;
}

.navigation .content .sub-menu::before {
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 100%;
}

.navigation .content .sub-menu a {
    display: block;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 25px 4px 25px;
    color: #616161;
}

.navigation .content .sub-menu a:hover {
    color: #000 !important;
    background: #e1e1e1;
}
