/* phần dùng chung */

@font-face {
    font-family: "open sans";
    src: url("./font/Open_Sans/static/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "open sans bold";
    src: url("./font/Open_Sans/static/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "fontawesome";
    src: url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css");
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --corler: #fcb100;
    --font-name: "open sans";
    --font-name-bold: "open sans bold";
}

/* hết phần dùng chung */
/* header */
header {
    width: 100%;
    transition: 500ms;
    position: relative;
}

.close_header {
    transform: translateY(-65%);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.line {
    border-top: 3px solid var(--corler);
}

.header-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

.logo {
    box-sizing: border-box;
    margin-top: 5px;
    margin-left: 200px;
}

.hotline {
    box-sizing: border-box;
    width: 230px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 50px;
}

.vertical-lines {
    height: 50px;
    border-right: 1px solid;
}

.phone-number {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.phone-number h3 {
    font-family: var(--font-name);
    font-size: 17px;
    font-weight: lighter;
}

.sdt {
    color: var(--corler);
    margin-top: 5px;
}

.Email {
    width: 230px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.email-name h3 {
    font-family: var(--font-name);
    font-size: 17px;
    font-weight: lighter;
}

.mail {
    color: var(--corler);
    margin-top: 5px;
}

.search form {
    width: 300px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 50px;
}

.search form input {
    font-family: var(--font-name);
    font-size: 15px;
    color: grey;
    border: hidden;
}

.search form input:focus {
    outline: none;
}

.search button {
    border: none;
    background-color: white;
    color: grey;
    font-size: 20px;
}

.header-2 {
    width: 100%;
    background-color: #004e9a;
    display: flex;
    justify-content: center;
}

.header-2 > ul {
    box-sizing: border-box;
    width: 1090px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-2 > ul > li {
    box-sizing: border-box;
    display: block;
    /* border: 2px solid white; */
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.header-2 h3 {
    font-size: 15px;
    font-family: var(--font-name);
}
.header-2 > ul > li:nth-child(1) {
    font-size: 25px;
}


.header-2 > ul > li:nth-child(9) {
    font-family: var(--font-name);
    font-weight: 600;
}
.header-2 > ul > li:last-child {
    background-color: #1a60a4;
}
.header-2 > ul > li:hover {
    background-color: #1a60a4;
}

.image-study-abroad img {
    width: 100%;
}

.header-2 ul li:nth-child(4) {
    position: relative;
}

.header-2 ul li:nth-child(4) .sub-menu {
    width: 260px;
    background: #fff;
    position: absolute;
    top: 70px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    border-radius: 5px;
    border: 1px solid #eee;
    z-index: 100;
}

.header-2 ul li:nth-child(4) .sub-menu a {
    color: grey;
    display: block;
    padding: 5px 25px 4px 25px;
    font-family: var(--font-name);
}

.header-2 ul li:nth-child(4) .sub-menu a:hover {
    color: black;
    background-color: #e1e1e1;
}

.header-2 ul li:nth-child(4) .sub-menu {
    display: flex;
    flex-direction: column;
}

.header-2 ul li:nth-child(4):hover .sub-menu {
    visibility: visible;
    opacity: 1;
    display: block;
}

.header-2 .admin-setting {
    display: none;
}

/* form login */
.form-login {
    border: 1px solid white;
    background-color: white;
    position: fixed;
    z-index: 5000;
    left: 35%;
    top: 20%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}
.form-login .close-form {
    position: absolute;
    right: 5px;
    top: 2px;
}
.form-login .back-to-login {
    position: absolute;
    left: 5px;
    top: 2px;
}
.form-login h3 {
    font-family: var(--font-name-bold);
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #ea7c69;
}
.form-login form input {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    font-family: var(--font-name);
    text-align: center;
    margin-bottom: 5px;
}
.form-login form .warning {
    margin-bottom: 10px;
    visibility: hidden;
}

.form-login form .warning img {
    width: 15px;
}
.form-login form button {
    margin-top: 20px;
    background-color: #ea7c69;
    width: 100%;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    border-color: #ea7c69;
    font-family: var(--font-name-bold);
    margin-bottom: 20px;
}
.form-login form .warning span {
    font-family: var(--font-name-bold);
    color: red;
}
.form-login form .register {
    text-align: right;
    margin-bottom: 10px;
}
.form-login form .register a {
    color: #ea7c69;
    font-family: var(--font-name-bold);
}
.form-login form .register span {
    font-family: var(--font-name);
}

.disable {
    opacity: 0.5; /* Độ mờ có thể điều chỉnh */
    pointer-events: none;
}

section {
    overflow: hidden;
    position: relative;
}

/* container chứa các thẻ img */
.image-study-abroad {
    /* phải chỉnh flex */
    width: 100%;
    display: flex;
    /* tạo hiệu ứng slide */
    animation: slide 16s infinite;
}

/* áp dụng cho 3 bức ảnh ( 0 > 200 %) , nếu 4 bức thì (0 > 300 %) , ...  */
/* 0 -> 25 %: là chưa dịch chuyển ảnh, giữ ở 0 */
/*  30 -> 50%: là dịch chuyển ảnh từ tọa độ x đến vị trí -100% chiều rộng bức ảnh và giữ ở đó*/
/* 50 -> 55 %: là  dịch chuyển ảnh từ tọa độ x đến vị trí -200% chiều rộng bức ảnh và giữ ở đó*/
/* 80 -> 90% : là dịch chuyển ảnh từ tọa độ x đến vị trí -100% chiều rộng bức ảnh và giữ ở đó */
/* 100% : là dichj chuyển ảnh từ tọa độ x đến vị trí 0 (vị trí ban đầu ) */
@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%);
    }

    55% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(-100%);
    }

    90% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.information-user-content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information-user-content .content {
    text-align: left;
}
.information-user-content > span {
    font-family: var(--font-name-bold);
    font-size: 28px;
    color: #1a60a4;
}
.information-user-content .content .title {
    font-family: var(--font-name-bold);
    font-size: 18px;
}
.information-user-content .content .value {
    font-family: var(--font-name-bold);
    font-size: 18px;
    color: grey;
}
.information-user-content .content div {
    margin-top: 10px;
}

.information-user-content button {
    margin-top: 20px;
    background-color: #1a60a4;
    width: 20%;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    border-color: #1a60a4;
    font-family: var(--font-name-bold);
    font-size: 15px;
    margin-bottom: 20px;
}

.activity-user {
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.activity-user > span {
    box-sizing: border-box;
    font-family: var(--font-name-bold);
    font-size: 28px;
    color: #1a60a4;
}
/* td,th,tr{
       margin: 0;
       padding: 0;
} */
.activity-user table {
    border: 1px solid silver;
    margin-top: 20px;
}
.activity-user table tr {
    border: 1px solid silver;
}

.activity-user table th {
    font-family: var(--font-name-bold);
    border: 1px solid silver;
    padding: 10px;
}
.activity-user table td {
    border: 1px solid silver;
    padding: 10px;
    text-align: center;
}
.activity-user table td span {
    font-family: var(--font-name);
}

/* footer */

.content-footer {
    width: 67%;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #25aae2 !important;
}

/* Footer */
.head-footer {
    background-color: #f7f7f7;
}

.head-footer .content-footer .img-wrap {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.head-footer .content-footer .img-wrap img:nth-child(6) {
    display: none;
}

.head-footer .content-footer {
    position: relative;
}

.head-footer .content-footer i:first-child {
    display: none;
    color: #333 !important;
    top: 65px;
    left: -26px;
    position: absolute;
}
.head-footer .content-footer i:last-child {
    display: none;
    color: #333 !important;
    right: -26px;
    top: 65px;
    position: absolute;
}
.center-footer {
    background-image: url("./image/bg_footer.jpg");
    padding: 50px 0px 35px;
}

.center-footer .content-footer {
    gap: 30px;
    display: flex;
}

.center-footer .content-footer .contact {
    width: calc(39.9699% - (0.60030068728522 * 30px));
}

.center-footer .content-footer .access {
    width: calc(29.0163% - (0.70983676975945 * 30px));
}

.center-footer .content-footer .fanpage-h {
    margin-left: auto;
    width: calc(31.0137% - (0.68986254295533 * 30px));
}

.center-footer .content-footer h2 {
    position: relative;
    color: #ffb300;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 45px;
}

.center-footer .content-footer h2::before {
    content: "";
    width: 40px;
    height: 0.5px;
    background: #fff;
    position: absolute;
    bottom: -20px;
    left: 0;
}

.footer-item span {
    font-family: "open sans", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    line-height: 1.4;
}

.footer-item a {
    font-family: "open sans", sans-serif;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    line-height: 1.4;
    text-align: left;
}

.footer-item a:hover {
    color: #25aae2 !important;
}

.footer-item .row {
    margin-bottom: 14px;
}

.footer-item .sub-menu {
    margin-left: 20px;
}

.sub-menu .row-sub {
    margin-bottom: 10px;
}

/* END Footer */
.end-footer {
    background-color: #3171ae;
    padding: 4px 0px;
}

.end-footer .content-footer {
    display: flex;
}

.online {
    margin-left: auto;
    display: flex;
}

.onl-item:first-child {
    margin-right: 20px;
}

.end-footer p,
.end-footer span {
    color: #fff;
}

.arrow-up i {
    font-size: 25px;
    color: #004e9a;
    background-color: orange;
    border-radius: 50%;
    padding: 13px 16px;
    position: fixed;
    bottom: 70px;
    right: 58px;
}

.nav_mobile > ul > li > a {
    color: black;
}

/* Tablet: width >= 740px  width < 1024px*/
@media only screen and (min-width: 46.25em) and (max-width: 64em) {
    .header-1 .vertical-lines,
    .header-1 .hotline,
    .header-1 .Email,
    .header-2 {
        display: none;
    }
    .logo {
        margin-left: 10px;
        margin-right: 250px;
    }
    .nav-btn {
        display: block;
    }
    .content-footer {
        width: 98%;
    }

    .fa-bars {
        display: block;
        margin-left: 35px;
    }

    .center-footer .content-footer {
        width: 96%;
        margin: 20px;
        flex-direction: column;
    }

    .center-footer .content-footer .contact {
        width: 100%;
    }

    .center-footer .content-footer .access {
        width: 100%;
    }

    .center-footer .content-footer .fanpage-h {
        margin-left: 0;
        width: 100%;
    }
    .fanpage-h .fanpage img {
        width: 50% !important;
    }

    .head-footer .content-footer i:first-child {
        left: 5px;
    }

    .head-footer .content-footer i:last-child {
        right: 5px;
    }

    .head-footer {
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .img-wrap {
        gap: 0;
        overflow: hidden;
    }

    .img-wrap img {
        width: 152px;
    }

    .end-footer .content-footer {
        display: block;
    }

    .end-footer .content-footer p {
        text-align: center;
    }

    .end-footer .content-footer .online {
        justify-content: center;
    }
}
/* Mobile */
@media only screen and (max-width: 46.1875em) {
    .header-1 .vertical-lines,
    .header-1 .hotline,
    .header-1 .Email,
    .header-2 {
        display: none;
    }
    .header-1 {
        justify-content: flex-start;
    }
    .logo img {
        width: 90%;
        height: auto;
    }
    .logo {
        margin-left: 20px;
        margin-right: 3em;
    }
    .search {
        width: 50%;
    }
    .search form {
        width: 91%;
        margin-right: 5px;
        height: 40px;
    }
    .search form input {
        font-size: 12px;
    }
    .nav_mobile {
        width: 70%;
    }
    .fa-bars {
        display: block;
        margin-left: 35px;
    }

    .header .content-footer {
        justify-content: space-between;
    }

    .text_header {
        display: none;
    }

    .text-item {
        display: none;
    }

    .navigation .content-footer > ul {
        display: none;
    }

    .center-footer .content-footer {
        width: 96%;
        margin: 20px;
        flex-direction: column;
    }

    .center-footer .content-footer .contact {
        width: 100%;
    }

    .center-footer .content-footer .access {
        width: 100%;
    }

    .center-footer .content-footer .fanpage-h {
        margin-left: 0;
        width: 100%;
    }
    .fanpage-h .fanpage img {
        width: 50% !important;
    }

    .head-footer .content-footer i:first-child {
        left: 5px;
    }

    .head-footer .content-footer i:last-child {
        right: 5px;
    }

    .head-footer {
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .img-wrap {
        gap: 0;
        overflow: hidden;
    }

    .img-wrap img {
        width: 152px;
    }

    .end-footer .content-footer {
        display: block;
    }

    .end-footer .content-footer p {
        text-align: center;
    }

    .end-footer .content-footer .online {
        justify-content: center;
    }
}
